service: prompt-maker-backend

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1

functions:
  app:
    handler: dist/handler.handler
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY

custom:
  serverless-offline:
    noPrependStageInUrl: true

plugins:
  - serverless-offline
